<div class="mavi-grid">
    <div *ngFor="let activityType of activityTypes" class="mavi-card">
        <div class="d-flex justify-content-between items-center mb-2">
            {{ activityType.key }}
        </div>

        <br>
        <div class="detail-row">
            <div class="detail-label">Monto por recargo</div>
            <div class="detail-value">
                {{ activityType.surchargeAmount | currencyMX }}
            </div>
        </div>

        <br>
        <div class="detail-row">
            <div class="detail-label">Recurrente</div>
            <div class="detail-value">
                {{ activityType.recurrent ? 'Sí' : 'No' }}
            </div>
        </div>

        <br>
        <div class="detail-row" *ngIf="activityType.rule">
            <div class="detail-label">Periodicidad</div>
            <div class="detail-value">
                {{ activityType.rule }}
            </div>
        </div>

        <br>
        <div class="detail-row" *ngIf="activityType.format">
            <div class="detail-label">Formato</div>
            <div class="detail-value">
                {{ activityType.format }}
            </div>
        </div>


        <div class="mavi-card-actions mt-4">
            <button class="btn btn-sm btn-outline" (click)="showModal(activityType.id, 'Editar tipo de actividad')">
                Editar
            </button>
            <button class="btn btn-sm btn-destructive" (click)="deleteActivityType(activityType.id)"
                [disabled]="activityType.lock"
                [title]="activityType.lock ? 'Este tipo de actividad no se puede eliminar porque es base del sistema.' : ''">
                Eliminar
            </button>
        </div>
    </div>
</div>

<div *ngIf="activityTypes.length === 0" class="text-gray-500 text-center py-8">
    No hay tipos de actividad disponibles.
</div>

<div class="mavi-bottom-actions">
    <div class="mavi-bottom-actions-inner">
        <button class="btn btn-secondary" (click)="showModal(0, 'Nuevo tipo de actividad')">
            Nuevo tipo de actividad
        </button>
    </div>
</div>