<div class="mavi-tabs">
    <a routerLink="empleados" routerLinkActive="selected" class="mavi-tab">Empleados</a>
    <a routerLink="tutores" routerLinkActive="selected" class="mavi-tab">Tutores</a>
    <a routerLink="categorias" routerLinkActive="selected" class="mavi-tab">Categorías</a>
    <a routerLink="tipos-de-actividad" routerLinkActive="selected" class="mavi-tab">Tipos de actividad</a>
    <a routerLink="tipos-de-descuento" routerLinkActive="selected" class="mavi-tab">Tipos de descuento</a>
    <a routerLink="observaciones" routerLinkActive="selected" class="mavi-tab">Observaciones</a>
    <a routerLink="radars" routerLinkActive="selected" class="mavi-tab">Radars</a>
</div>
<br>
<router-outlet></router-outlet>
