<div class="modal-overlay">
	<div class="modal-content">
		<h5 class="text-xl font-semibold mb-4">Nuevo cobro</h5>

		<form [formGroup]="formGroup">
			<app-form-group title="Monto a cobrar" [control]="formGroup.get('amountToBePaid')">
				<input id="amountToBePaid" type="text" formControlName="amountToBePaid" class="form-control"
					mask="separator.2" [thousandSeparator]="','" [decimalMarker]="'.'" [allowNegativeNumbers]="false"
					min="0.01">
			</app-form-group>
			<app-form-group title="Concepto" [control]="formGroup.get('concept')">
				<input id="concept" type="text" formControlName="concept" class="form-control">
			</app-form-group>
		</form>

		<div class="d-flex justify-content-end gap-2 mt-4">
			<app-submit [form]="formGroup" [submit]="saveCharge.bind(this)" (discard)="closeModal()">
			</app-submit>
		</div>
	</div>
</div>