<form [formGroup]="form">
	<app-form-group title="Tipo" for="type" [control]="form.get('type')">
		<select id="type" formControlName="type" class="form-control">
			<option [ngValue]="1">General</option>
			<option [ngValue]="2">Categoría</option>
			<option [ngValue]="3">Actividad</option>
			<option [ngValue]="4">Estudiante</option>
		</select>
	</app-form-group>
	<app-form-group *ngIf="form.get('type')?.value === 2" title="Categoría" for="categoryId" [control]="form.get('categoryId')">
		<select id="categoryId" formControlName="categoryId" class="form-control">
			<option [ngValue]="null">Selecciona una categoría</option>
			<option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.type}}</option>
		</select>
	</app-form-group>

	<app-form-group *ngIf="form.get('type')?.value === 3" title="Actividad" for="activityId" [control]="form.get('activityId')">
		<select id="activityId" formControlName="activityId" class="form-control">
			<option [ngValue]="null">Selecciona una actividad</option>
			<option *ngFor="let act of activities" [ngValue]="act.id">{{act.description}}</option>
		</select>
	</app-form-group>

	<app-form-group *ngIf="form.get('type')?.value === 4" title="Estudiante" for="studentId" [control]="form.get('studentId')">
		<select id="studentId" formControlName="studentId" class="form-control">
			<option [ngValue]="null">Selecciona un estudiante</option>
			<option *ngFor="let stu of students" [ngValue]="stu.id">{{stu.name}}</option>
		</select>
	</app-form-group>
	<app-form-group title="Mensaje" for="message" [control]="form.get('message')">
		<textarea id="message" formControlName="message" class="form-control"></textarea>
	</app-form-group>
</form>
