.btn-remove {
    background-color: #6a1a1a;
    color: white;
    border: none;
    // padding: 0.5rem 1rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: -8px;   
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;

    //hover
    &:hover {
        background-color: #a32a2a;
    }
}