.document-section {
    border: 1px dashed #262626;
    padding: 24px;

    &:hover {
        border-color: #3e3e3e;
    }

    .document-file {
        border: 1px solid #262626;

        &:hover {
            border-color: #3e3e3e;
        }
    }
}