<div *ngIf="student">

	<div class="d-flex justify-content-center gap-2 mb-3">
		<ng-container *ngFor="let radar of radars">
			<button (click)="selectRadar(radar)" [class.selected]="selectedRadar?.id === radar.id"
				class="btn btn-sm btn-primary">
				{{ radar.description| titlecase }}
			</button>
		</ng-container>
	</div>


	@if (items) {
		<app-graph-radar [value]="items" [compareDatasets]="getCompareDatasets()" *ngIf="selectedRadar" (valueChanged)="onRadarValueChanged($event)"></app-graph-radar>
	}
	<br>
	<div class="d-flex justify-content-end">
		<app-form-group for="compare-with" title="Comparar con...">
			<select id="compare-with" class="form-select form-select-sm" (change)="selectCompareStudent($event)">
				<option value=""> Ninguno</option>
				<option *ngFor="let s of students" [value]="s.id" [selected]="s.id === selectedCompareStudentId"
					[disabled]="s.id === student.id">{{s.name}}</option>
			</select>
		</app-form-group>
	</div>
	<br>

</div>

<style>
	.selected {
		background-color: #0056b3 !important;
		color: white !important;
	}
</style>