<div class="student-edit-container">
    <div class="edit-header">
        <button routerLink="/app/students" class="btn btn-back">← Volver</button>
        <h2>Editar Estudiante</h2>
    </div>

    <div class="flex border-b mb-4">
        <a
            routerLink="info"
            routerLinkActive="border-blue-500 text-blue-600 font-semibold"
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 -mb-px border-b-2 transition-colors duration-300 focus:outline-none border-transparent text-gray-500"
        >
            Información General
        </a>
        <a
            routerLink="activities"
            routerLinkActive="border-blue-500 text-blue-600 font-semibold"
            class="px-4 py-2 -mb-px border-b-2 transition-colors duration-300 focus:outline-none border-transparent text-gray-500"
        >
            Actividades
        </a>
        <a
            routerLink="payments"
            routerLinkActive="border-blue-500 text-blue-600 font-semibold"
            class="px-4 py-2 -mb-px border-b-2 transition-colors duration-300 focus:outline-none border-transparent text-gray-500"
        >
            Pagos
        </a>
    </div>

    <router-outlet></router-outlet>
</div>