<div class="form-group mavi-border">
    <label class="form-label">Categorías</label>
    <div class="flex gap-2">
        <div *ngFor="let sc of studentCategories" class="mavi-tag cursor-pointer" (click)="removeCategory(sc.id)">
            <span>
                {{sc.category.type}}
            </span>
            <button type="button" class="btn-remove">
                ×
            </button>
        </div>
    </div>
    <br>
    <div *ngIf="availableCategories.length > 0" class="flex gap-2">
        <div class="w-32">
            <select [(ngModel)]="selectedCategoryId" name="newCategory" class="form-control">
                <option *ngFor="let cat of availableCategories" [value]="cat.id">
                    {{ cat.type }}
                </option>
            </select>
        </div>

        <div class="w-32">
            <button class="btn btn-primary" (click)="addCategory()">
                + Agregar
            </button>
        </div>
    </div>
</div>