<div class="bg-white shadow p-6">


    <form class="mavi-form">

        <div class="form-group">
            <label>Categorías:</label>
            <div class="categories-list">
                <div *ngFor="let sc of studentCategories" class="category-item">
                    <span>
                        {{sc.category?.type}}
                    </span>
                    <button type="button" class="btn-remove" (click)="removeCategory(sc.id)">
                        ×
                    </button>
                </div>
                <div *ngIf="availableCategories.length > 0" class="add-category">
                    <select [(ngModel)]="selectedCategoryId" name="newCategory" class="category-select">
                        <option *ngFor="let cat of availableCategories" [value]="cat.id">
                            {{ cat.type }}
                        </option>
                    </select>
                    <button type="button" class="btn-add" (click)="addCategory()">
                        + Añadir Categoría
                    </button>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-save" [disabled]="isSaving">
                <span *ngIf="!isSaving">Guardar Cambios</span>
                <span *ngIf="isSaving">Guardando...</span>
            </button>
        </div>
    </form>

</div>