<form (ngSubmit)="saveStudent()" class="flex gap-3 items-center">
    <label for="photo" class="photo-label">
        <img *ngIf="student.photo; else placeholder" [src]="student.photoUrl" class="student-photo" alt="Foto">
        <ng-template #placeholder>
            <div class="photo-placeholder">+</div>
        </ng-template>
        <input id="photo" type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden>
    </label>

    <div class="form-group flex-2">
        <label for="search" class="form-label">Nombre:</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="student.name" name="name" required
            placeholder="Nombre">
    </div>

    <div class="form-group flex-2">
        <label for="search" class="form-label">Fecha de nacimiento:</label>
        <input id="birthdate" type="date" class="form-control" [(ngModel)]="student.birthdate" name="birthdate"
            required>
    </div>

    <button type="submit" class="btn btn-primary mt-4 self-end" [disabled]="isSaving">
        <span *ngIf="!isSaving">Guardar</span>
        <span *ngIf="isSaving">Guardando...</span>
    </button>
</form>
<br>

@if (student.id !== 0){
<div class="mavi-tabs">
    <button routerLink="info" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }" class="mavi-tab">
        General
    </button>
    <button routerLink="actividades" routerLinkActive="selected" class="mavi-tab">
        Actividades
    </button>
    <button routerLink="pagos" routerLinkActive="selected" class="mavi-tab">
        Pagos
    </button>
    <button routerLink="ficha-tecnica" routerLinkActive="selected" class="mavi-tab">
        Ficha técnica
    </button>
    <button routerLink="documentos" routerLinkActive="selected" class="mavi-tab">
        Documentos
    </button>
</div>
<br>
<router-outlet></router-outlet>
}