<div *ngIf="student">

	<div class="d-flex justify-content-center gap-2 mb-3">
		<ng-container *ngFor="let radar of radarKeys">
			<button (click)="selectRadar(radar)" [class.selected]="selectedRadar === radar"
				class="btn btn-sm btn-primary">
				{{ radar | titlecase }} Skills
			</button>
		</ng-container>
	</div>
	<div style="max-width: 450px; margin: auto; position: relative;padding: 50px; padding-bottom: 10px;">
		<canvas baseChart [datasets]="datasets" [labels]="labels" [options]="radarOptions" [type]="'radar'"
			[legend]="false" height="350" width="350" style="display:block; margin:auto;">
		</canvas>
		<ng-container *ngFor="let item of student.radarsData[selectedRadar]; let i = index">
			<div [ngStyle]="{
          position: 'absolute',
          left: buttons[i]?.left,
          top: buttons[i]?.top,
          width: '80px',
          textAlign: 'center'
        }">

				<div class="d-flex flex-column align-items-center">
					<div class="d-flex gap-1">
						<button (click)="decrement(item.key)" class="btn-radar">-</button>
						<button (click)="increment(item.key)" class="btn-radar">+</button>
					</div>
					<div class="label">
						{{item.label}}
					</div>
				</div>

			</div>
		</ng-container>
	</div>
	<br>
	<div class="d-flex justify-content-end">

		<app-form-group for="compare-with" title="Comparar con...">
			<select id="compare-with" class="form-select form-select-sm"
				(change)="selectCompareStudent($event)">
				<option value=""> Ninguno</option>
				<option *ngFor="let s of students" [value]="s.id" [selected]="s.id === selectedCompareStudentId"
					[disabled]="s.id === student.id">{{s.name}}</option>
			</select>
		</app-form-group>

		
	</div>
	<br>

</div>

<style>
	.btn-radar {
		background-color: #007bff;
		border: none;
		color: white;
		height: 20px;
		width: 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 11px;
		border-radius: 0px;
		cursor: pointer;
	}

	.btn-radar:hover {
		background-color: #0056b3;
	}

	.label {
		color: white;
		font-size: 11px;
		margin-top: 2px;
		text-align: center;
		width: 80px;
	}

	.selected {
		background-color: #0056b3 !important;
		color: white !important;
	}
</style>