.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 96vh;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: #0a0a0a;
    margin: 20px;


    .dashboard-header {
        border: 1px solid #262626;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: white;
        width: 100%;
        position: relative;

        .logo-label {
            cursor: pointer;
        }


        .logo {
            // position: absolute;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            font-weight: bold;
            // top: 2px;
            left: 10px;
            width: 66px;
            height: 66px;
            object-fit: cover;
        }

        .header-left {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-right: auto;
            padding-left: 20px;
        }



        .user-avatar {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background-color: #3498db;
            border-radius: 50%;
            font-weight: bold;
        }
    }


    .dashboard-content {
        flex: 1;
        overflow-y: auto;
        width: 100%;
        border: 1px solid #262626;
        padding: 24px;
        padding-bottom: 64px;
    }
}



.main-nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li a {
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s;

        &:hover,
        &.active {
            background-color: oklch(0.269 0 0);
            border-radius: 4px;
        }
    }
}


.user-menu-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;

    &:hover {
        background-color: #1a1a1b;
    }
}

.school-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;


}