<div class="modal-overlay">
	<div class="modal-content ">

		<form [formGroup]="form">

			<h2 class="text-xl font-semibold mb-4">Inscribir alumnos</h2>
			<div class="flex gap-4 justify-between">
				<div class="form-group flex-1">

					<app-form-group title="Categoría" [control]="form.get('categoryId')">
						<select id="categoryId" formControlName="categoryId" class="form-control"
							(change)="onNewCategoryChange()">
							<option *ngFor="let category of categories" [value]="category.id">{{ category.type }}
							</option>
						</select>
					</app-form-group>
				</div>
				<div class="form-group flex-1">
					<app-form-group title="Actividad" [control]="form.get('activityId')">
						<select id="activityId" formControlName="activityId" class="form-control"
							(change)="onNewActivityChange()">
							<option *ngFor="let act of activities" [value]="act.id">{{ act.description }} - {{
								act.details
								}}
							</option>
						</select>
					</app-form-group>
				</div>
			</div>
			<br />
			<div class="mavi-tabs">
				<button (click)="form.get('tab')?.setValue('existing')"
					[class]="form.get('tab')?.value === 'existing' ? 'selected' : ''" class="mavi-tab">Seleccionar
					existentes</button>
				<button (click)="form.get('tab')?.setValue('new')"
					[class]="form.get('tab')?.value === 'new' ? 'selected' : ''" class="mavi-tab">Crear
					nuevo</button>
			</div>
			<br />
			<div class="mavi-border" *ngIf="form.get('tab')?.value === 'existing'">
				<div class="form-group">
					<label for="search" class="form-label">Buscar estudiante</label>
					<input id="search" type="text" formControlName="search" placeholder="Buscar por nombre..."
						class="form-control">
				</div>
				<br />
				<div class="flex items-center mb-2">
					<span class="font-semibold">Seleccionados: {{ selectedExistingStudents.length }}</span>
				</div>
				<div class="grid grid-cols-3 gap-3 mb-4 max-h-60 overflow-y-scroll">
					<div *ngFor="let student of filteredStudents"
						(click)="!hasActivityAssigned(student) && onSelectStudent(student)"
						[class.bg-green-600]="isStudentSelected(student)"
						[class.opacity-50]="hasActivityAssigned(student)"
						[class.cursor-pointer]="!hasActivityAssigned(student)"
						[class.cursor-not-allowed]="hasActivityAssigned(student)"
						class="mavi-border p-1 flex flex-col ">

						<div class="flex items-center gap-2">
							<img *ngIf="student.photo" [src]="student.photoUrl" class="student-photo-sm" alt="Foto">
							<ng-template #placeholder>
								<div class="photo-placeholder">+</div>
							</ng-template>

							<div>
								<div>{{ student.nick ? student.nick : student.name }}</div>
								{{student.activities.length}} actividades
								<span *ngIf="hasActivityAssigned(student)"
									class="mavi-tag me-2 mavi-tag--primary">Inscrito</span>
								<span *ngFor="let category of student.categories" class="mavi-tag me-2">
									{{ category.category.type }}
								</span>
							</div>

						</div>

					</div>
					<div *ngIf="filteredStudents.length === 0" class="col-span-3 text-center py-4 text-gray-500">No se
						encontraron estudiantes</div>
				</div>
			</div>
			<div class="mavi-border flex gap-3" *ngIf="form.get('tab')?.value === 'new'">
				<div [formGroup]="studentForm" class="flex flex-1 gap-3">
					<div class="form-group flex-1">
						<app-form-group title="Nombre" [control]="studentForm.get('name')">
							<input id="name" type="text" formControlName="name" class="form-control"
								placeholder="Nombre completo del estudiante">
						</app-form-group>
					</div>
					<div class="form-group flex-1">
						<app-form-group title="Fecha de nacimiento" [control]="studentForm.get('birthdate')">
							<input id="birthdate" type="date" [max]="maxBirthdate" formControlName="birthdate"
								class="form-control">
						</app-form-group>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<app-submit [form]="form" [submit]="onInscription.bind(this)" (discard)="onCancel()"
					[disabled]="(form.get('tab')?.value === 'existing' && selectedExistingStudents.length === 0)">
				</app-submit>
			</div>

		</form>


	</div>
</div>