<div class="modal-backdrop fade" [ngClass]="{'show': show}" *ngIf="show" (click)="show = false">
</div>
<div class="modal fade" tabindex="-1" [ngClass]="{'show': show}" [ngStyle]="{'display': show ? 'block' : 'none'}"
    aria-modal="true" role="dialog"
    style="z-index: 1050; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; overflow: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" (click)="$event.stopPropagation()">
        <div class="modal-content bg-dark text-white">
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>