.btn-total-payment {
    font-size: 11px;
    position: absolute;
    right: 0.5rem;
    font-size: 0.75rem;
    border-radius: 0;
    background-color: #fff;
    border: none;
}

.payment-container {
    max-height: 400px;
    overflow-y: auto;
}