<form [formGroup]="form" class="d-flex flex-column">
	<div class="mb-4">
		<label class="form-label">Monto a pagar</label>
		<div class="position-relative d-flex items-center">

			<input id="paymentAmount" type="text" formControlName="paymentAmount" class="form-control"
				[class.border-red-500]="form.get('paymentAmount')?.value > getTotalDebt()" mask="separator.2"
				[thousandSeparator]="','" [decimalMarker]="'.'" [allowNegativeNumbers]="false" min="0"
				[max]="getTotalDebt()" />


			<button (click)="payFullAmount()" class="btn-total-payment" [style]="'margin-top: 1px'" style="top:6px">
				Pagar total
			</button>
		</div>
		<p *ngIf="form.get('paymentAmount')?.value > getTotalDebt()" class="form-control-error">
			El monto excede el adeudo total
		</p>
		<p class="text-sm text-gray-500 mt-1" *ngIf="getTotalDebt() - form.get('paymentAmount')?.value > 0">
			Monto total restante:
			<span class="high-debt">
				{{getTotalDebt() - form.get('paymentAmount')?.value | currencyMX}}
			</span>
		</p>
	</div>
</form>

<div class="form-label">Cargos pendientes</div>
<div class="payment-container">
	<div *ngFor="let cargo of charges; let i = index" class="mavi-border mb-2">
		<div class="d-flex justify-content-between items-center mb-1">
			<div>
				{{ cargo.activity.description }} ({{ cargo.concept }})
			</div>

			<div class="text-xs text-gray-500">
				{{ cargo.chargeDate | date:'mediumDate' }}
			</div>
		</div>
		<div class="d-flex justify-content-between">
			<div *ngIf="getCoveredAmount(i); else empty" class="detail-row" class="detail-row">
				<div class="detail-label">A pagar</div>
				<div class="detail-value high-paid">
					{{ getCoveredAmount(i) | currencyMX }}
				</div>
			</div>
			<ng-template #empty>
				<div>
				</div>
			</ng-template>

			<div *ngIf="getRemainingAfterPayment(i) > 0" class="detail-row">
				<div class="detail-label">Pendiente</div>
				<div class="detail-value high-debt">
					{{getRemainingAfterPayment(i) | currencyMX}}
				</div>
			</div>

		</div>
	</div>
</div>

<div class="mt-4 d-flex items-center me-auto">
	<input class="form-control" type="checkbox" id="autoDownloadVoucher" [checked]="downloadVoucher.value"
		(change)="onAutoDownloadChange()" />
	<label for="autoDownloadVoucher" class="ml-2">Descargar voucher</label>
</div>