<div class="category-selector">
	<button (click)="selectPreviousCategory()" class="category-btn" aria-label="Anterior">
		<svg class="category-btn-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
		</svg>
	</button>

	<div class="category-select-wrapper">
		<select id="categories" name="categories" [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()"
			class="category-select">
			<option [value]="null" disabled>-- Selecciona una categoría --</option>
			<option *ngFor="let category of categories" [value]="category.id">
				{{ category.type }}
			</option>
		</select>
	</div>

	<button (click)="selectNextCategory()" class="category-btn" aria-label="Siguiente">
		<svg class="category-btn-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
		</svg>
	</button>
</div>
<br>

<div class="mavi-tabs">
	<button class="mavi-tab" [ngClass]="{ selected: selectedActivityId === activity.id }" [title]="activity.details"
		*ngFor="let activity of activitiesByCategory; let i = index" (click)="onActivityChange(activity.id, i)">
		{{ activity.description }}
	</button>
</div>
<br>

<input id="photo" type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden>

<div class="grid grid-cols-6 gap-4">

	<div *ngFor="let studentActivity of studentActivities" class="relative">
		<div (click)="selectAvatar(studentActivity)" (dblclick)="openEditModal(studentActivity)" [ngClass]="{
              'border-2 border-white shadow-lg': selectedStudentActivity === studentActivity,
              'opacity-20 ': studentActivity.unsubscribed
              }" class="avatar-circle" [class.no-image]="!studentActivity.student.photoUrl">
			@if (studentActivity.student.photoUrl) {
			<img [src]="studentActivity.student.photoUrl" class="w-full h-full object-cover" />
			}

			<span *ngIf="studentActivity.debtActivityAmount > 0" (click)="showPaymentModal = true"
				class="absolute top-0 right-0 bg-red-500 text-white text-xs font-bold px-2 py-1 rounded-bl-lg z-20">
				{{showDebt ? '¡Debe!' : '$' + (studentActivity.debtActivityAmount | currencyMX)}}
			</span>

			<span [title]="studentActivity.student.name"
				class="absolute bottom-0 left-0 bg-black text-white text-xs font-bold px-1 py-0 rounded-tr-lg z-20 overflow-hidden whitespace-nowrap text-ellipsis"
				style="text-overflow: ellipsis;">
				<span style="max-width: 60px; display: inline-block; overflow: hidden; text-overflow: ellipsis;">
					{{ studentActivity.student.nick ? studentActivity.student.nick :
					studentActivity.student.name
					}}
				</span>
			</span>
		</div>


		<div *ngIf="selectedStudentActivity === studentActivity" class="menu-context  mavi-border absolute z-30 mt-2  ">
			<ul class="py-2">
				<li class="px-4 py-2  cursor-pointer" (click)="openEditModal(studentActivity)">
					Editar...
				</li>

				@if(studentActivity.debtActivityAmount > 0){
				<li class="px-4 py-2  cursor-pointer" (click)="showPaymentModal = true">
					Registrar pago...
				</li>
				}

				<li *ngIf="!studentActivity.student.photoUrl" class="px-4 py-2 cursor-pointer">
					<label for="photo">
						Subir imagen...
					</label>
				</li>

				<li class="px-4 py-2 cursor-pointer" (click)="toggleSubmenu('inscribir', studentActivity)">
					Inscribir a...
					<ul *ngIf="showSubmenu['inscribir']" class="pl-4">
						<li *ngFor="let activity of getNonRecurrentActivitiesForStudent(selectedStudentActivity)"
							class="px-4 py-2 cursor-pointer whitespace-nowrap overflow-hidden text-ellipsis"
							(click)="onInscribir(studentActivity.student, activity)">
							{{ activity.description }}
						</li>
						<li *ngIf="getNonRecurrentActivitiesForStudent(selectedStudentActivity).length === 0"
							class="px-4 py-2 text-gray-400">No hay actividades disponibles</li>
					</ul>
				</li>

				<li class="px-4 py-2  cursor-pointer" (click)="onObservations()">
					Observaciones...
					<!-- <ul *ngIf="showSubmenu['Observaciones']" class="pl-2">
						<li class="px-4 py-2  cursor-pointer">Practicar tiros libres</li>
						<li class="px-4 py-2  cursor-pointer">Mejorar trabajo en equipo</li>
						<li class="px-4 py-2  cursor-pointer">Desarrollar liderazgo</li>
					</ul> -->
				</li>
			</ul>
		</div>
	</div>

	<div class="relative">
		<div (click)="addNewAvatar()"
			class="w-25 h-25 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden cursor-pointer transition-all duration-300 hover:bg-gray-300">
			<span class="text-3xl font-bold text-gray-600">+</span>
		</div>
	</div>
</div>

<app-payment *ngIf="showPaymentModal" [studentId]="selectedStudentActivity?.student?.id!"
	(complete)="onPaymentComplete($event)">
</app-payment>

<app-inscription *ngIf="showModal" (complete)="onInscriptionComplete($event)">
</app-inscription>

<app-activity *ngIf="newEventModalVisible" [activityId]="newActivityId" (complete)="onActivityComplete($event)">
</app-activity>

<app-observations *ngIf="showObservations" [studentActivityId]="selectedStudentActivity?.id!"
	(complete)="onObservationsComplete($event)">
</app-observations>

<div class="mavi-bottom-actions">
	<div class="mavi-bottom-actions-inner">
		<button (click)="showDebt = !showDebt" class="btn btn-secondary"
			[ngClass]="showDebt ? 'bg-blue-500' : 'bg-gray-400'">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
				stroke="currentColor" class="size-4 me-2">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
			</svg>
			{{ showDebt ? 'Mostrar total' : 'Mostrar deuda' }}
		</button>

		<button class="btn btn-secondary ms-2" (click)="onEditActivity()" [disabled]="!selectedActivityId">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
				stroke="currentColor" class="size-4 me-2">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M16.862 4.487a2.1 2.1 0 1 1 2.97 2.97L7.5 19.789l-4 1 1-4 12.362-12.302Z" />
			</svg>
			Editar actividad
		</button>

		<button class="btn btn-secondary ms-2" (click)="onNewActivity()" [disabled]="!selectedActivityId">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
				stroke="currentColor" class="size-4 me-2">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M16.862 4.487a2.1 2.1 0 1 1 2.97 2.97L7.5 19.789l-4 1 1-4 12.362-12.302Z" />
			</svg>
			Nueva actividad
		</button>
	</div>
</div>