<app-activity-selector (select)="onActivitySelect($event)" (debt)="onDebt($event)"></app-activity-selector>
<br>

@if (selectedActivity) {

<input id="photo" type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden>

<div class="row g-4">
	<div *ngFor="let studentActivity of studentActivities" class="col-2 position-relative">
		<app-avatar-student-activity [studentActivity]="studentActivity" [showDebt]="showDebt"
			(select)="onStudentActivitySelect($event, studentActivity)"></app-avatar-student-activity>
	</div>

	@if (!loadingStudentActivities) {
	<div class="col-2 position-relative">
		<div (click)="showInscription()" class="logo-placeholder logo-placeholder-large cursor-pointer">
			+
		</div>
	</div>
	}
</div>

<div *ngIf="selectedActivity && studentActivities.length === 0 && !loadingStudentActivities"
	class="text-gray-500 text-center py-8">
	Presiona el círculo de '+' para agregar estudiantes a la actividad.
</div>
}

<app-payment *ngIf="showPaymentModal" [studentId]="selectedStudentActivity?.student?.id!"
	(complete)="onPaymentComplete($event)">
</app-payment>

<app-observations *ngIf="showObservationsModal" [studentId]="selectedStudentActivity?.studentId!"
	(complete)="showObservationsModal = false">
</app-observations>