<div class="category-selector">
	<button (click)="selectPreviousCategory()" class="category-btn" aria-label="Anterior">
		<svg class="category-btn-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
		</svg>
	</button>

	<div class="category-select-wrapper">
		<!-- <label for="categories" class="form-label">Categoría</label> -->
		<select id="categories" name="categories" [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()"
			class="category-select">
			<option [value]="null" disabled>-- Selecciona una categoría --</option>
			<option *ngFor="let category of categories" [value]="category.id">
				{{ category.type }}
			</option>
		</select>
	</div>

	<button (click)="selectNextCategory()" class="category-btn" aria-label="Siguiente">
		<svg class="category-btn-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
		</svg>
	</button>
</div>
<br>


<div class="mavi-tabs">
	<button class="mavi-tab" [ngClass]="{ selected: selectedActivityId === activity.id }"
		*ngFor="let activity of activities; let i = index" (click)="onActivityChange(activity.id, i)">
		{{ activity.description }}
	</button>
</div>
<br>


<div class="relative justify-center ">
	<div *ngFor="let activity of activities">
		<div *ngIf="selectedActivityId! === activity.id" class="grid grid-cols-6 gap-4">

			<div class="relative">
				<div (click)="addNewAvatar()"
					class="w-25 h-25 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden cursor-pointer transition-all duration-300 hover:bg-gray-300">
					<span class="text-3xl font-bold text-gray-600">+</span>
				</div>
			</div>

			<div *ngFor="let studentActivity of studentActivities" class="relative">
				<div (click)="selectAvatar(studentActivity)" (dblclick)="openEditModal(studentActivity)" [ngClass]="{
              'border-4 border-blue-500 shadow-lg': selectedStudentActivity === studentActivity,
              'opacity-20 ': studentActivity.unsubscribed
              }"
					class="w-25 h-25 rounded-full bg-gray-700 flex items-center justify-center overflow-hidden cursor-pointer transition-all duration-300">
					@if (studentActivity.student.photoUrl) {
					<img [src]="studentActivity.student.photoUrl" class="w-full h-full object-cover" />
					}

					<span *ngIf="studentActivity.debtActivityAmount > 0" (click)="showPaymentModal = true"
						class="absolute top-0 right-0 bg-red-500 text-white text-xs font-bold px-2 py-1 rounded-bl-lg z-20">
						{{showDebt ? '¡Debe!' : '$' + studentActivity.debtActivityAmount}}
					</span>

					<span [title]="studentActivity.student.name"
						class="absolute bottom-0 left-0 bg-black text-white text-xs font-bold px-1 py-0 rounded-tr-lg z-20 overflow-hidden whitespace-nowrap text-ellipsis"
						style="text-overflow: ellipsis;">
						<span
							style="max-width: 60px; display: inline-block; overflow: hidden; text-overflow: ellipsis;">
							{{ studentActivity.student.nick ? studentActivity.student.nick :
							studentActivity.student.name
							}}
						</span>
					</span>
				</div>


				<div *ngIf="selectedStudentActivity === studentActivity"
					class="menu-context  mavi-border absolute z-30 mt-2 w-48 ">
					<ul class="py-2">
						<li class="px-4 py-2  cursor-pointer" (click)="openEditModal(studentActivity)">
							Editar
						</li>

						@if(studentActivity.debtActivityAmount > 0){
						<li class="px-4 py-2  cursor-pointer" (click)="showPaymentModal = true">
							Registrar pago
						</li>
						}

						<li class="px-4 py-2  cursor-pointer" (click)="toggleSubmenu('inscribir')">
							Inscribir a...
							<ul *ngIf="showSubmenu['inscribir']" class="pl-4">
								<li class="px-4 py-2  cursor-pointer">Liga X</li>
								<li class="px-4 py-2  cursor-pointer">Torneo X</li>
							</ul>
						</li>

						<li class="px-4 py-2  cursor-pointer" (click)="toggleSubmenu('Observaciones')">
							Observaciones...
							<ul *ngIf="showSubmenu['Observaciones']" class="pl-2">
								<li class="px-4 py-2  cursor-pointer">Practicar tiros libres</li>
								<li class="px-4 py-2  cursor-pointer">Mejorar trabajo en equipo</li>
								<li class="px-4 py-2  cursor-pointer">Desarrollar liderazgo</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

<app-payment *ngIf="showPaymentModal" [studentId]="selectedStudentActivity?.student?.id!"
	(complete)="onPaymentComplete($event)">
</app-payment>

<app-inscription *ngIf="showModal" (complete)="onInscriptionComplete($event)">
</app-inscription>

<app-activity *ngIf="newEventModalVisible" [activityId]="newActivityId" (complete)="onActivityComplete($event)">
</app-activity>
<!-- 
<div *ngIf="newEventModalVisible" class="modal-overlay">
	<div class="modal-content">
		<h2 class="text-xl font-semibold mb-4">Nueva actividad</h2>

		<div class="form-group">
			<label for="newActivityDescription" class="form-label">Descripción</label>
			<input id="newActivityDescription" type="text" [(ngModel)]="newActivity.description" class="form-control">
		</div>
		<br />

		<div class="flex gap-4 justify-between">


			<div class="form-group flex-1">
				<label for="newActivityCategoryId" class="form-label">Categoría</label>
				<select id="newActivityCategoryId" [(ngModel)]="newActivity.categoryId" class="form-control">
					<option *ngFor="let category of categories" [value]="category.id">{{ category.type }}</option>
				</select>
			</div>

			<div class="form-group flex-1">
				<label for="newActivityTypeId" class="form-label">Tipo de Actividad</label>
				<select id="newActivityTypeId" [(ngModel)]="newActivity.typeId" class="form-control">
					<option *ngFor="let type of activityTypes" [value]="type.id">{{ type.key }}</option>
				</select>
			</div>

		</div>
		<br />

		<div class="flex gap-4 justify-between">


			<div class="form-group flex-1">
				<label for="newActivityStartDate" class="form-label">Fecha de Inicio</label>
				<input id="newActivityStartDate" type="datetime-local" [(ngModel)]="newActivity.startDate"
					class="form-control">
			</div>
			<div class="form-group flex-1">
				<label for="newActivityEndDate" class="form-label">Fecha de Fin</label>
				<input id="newActivityEndDate" type="datetime-local" [(ngModel)]="newActivity.endDate"
					class="form-control">
			</div>

		</div>

		<br />

		<div class="flex gap-4 justify-between">

			<div class="form-group flex-1">
				<label for="newActivityGracePeriod" class="form-label">Período de gracia (días)</label>
				<input id="newActivityGracePeriod" type="number" [(ngModel)]="newActivity.gracePeriod"
					class="form-control">
			</div>
			<div class="form-group flex-1">
				<label for="newActivityPrice" class="form-label">Precio</label>
				<input id="newActivityPrice" type="number" step="0.01" [(ngModel)]="newActivity.price"
					class="form-control">
			</div>
		</div>

		<div class="flex justify-end space-x-2 mt-4">
			<button (click)="closeNewEventModal()" class="btn btn-outline">Cancelar</button>
			<button (click)="saveNewActivity()" class="btn btn-primary">Guardar</button>
		</div>
	</div>
</div> -->



<div class="mavi-bottom-actions">
	<div class="mavi-bottom-actions-inner">
		<button (click)="showDebt = !showDebt" class="btn btn-secondary"
			[ngClass]="showDebt ? 'bg-blue-500' : 'bg-gray-400'">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
				stroke="currentColor" class="size-4 me-2">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
			</svg>
			{{ showDebt ? 'Mostrar total' : 'Mostrar deuda' }}
		</button>

		<button class="btn btn-secondary ms-2" (click)="onEditActivity()" [disabled]="!selectedActivityId">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
				stroke="currentColor" class="size-4 me-2">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M16.862 4.487a2.1 2.1 0 1 1 2.97 2.97L7.5 19.789l-4 1 1-4 12.362-12.302Z" />
			</svg>
			Editar actividad
		</button>

		<button class="btn btn-secondary ms-2" (click)="onNewActivity()" [disabled]="!selectedActivityId">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
				stroke="currentColor" class="size-4 me-2">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M16.862 4.487a2.1 2.1 0 1 1 2.97 2.97L7.5 19.789l-4 1 1-4 12.362-12.302Z" />
			</svg>
			Nueva actividad
		</button>
	</div>
</div>