<div class="login-wrapper">
    <div class="login-card">

        <h1 class="title">Iniciar Sesión</h1>
        <br>
        <form [formGroup]="loginForm" class="form">

            <app-form-group title="Correo electrónico" for="email" [control]="loginForm.get('email')">
                <div class="input-container">
                    <input id="email" type="email" formControlName="email" placeholder="tu@email.com"
                        class="form-control">
                </div>
            </app-form-group>
            <app-form-group title="Contraseña" for="password" [control]="loginForm.get('password')">
                <div class="input-container">
                    <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
                        placeholder="••••••••" class="form-control">
                    <button type="button" class="toggle-password" (click)="showPassword = !showPassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                    </button>
                </div>
            </app-form-group>

            <br>

            <btn-loading [action]="onSubmit.bind(this)" text="Ingresar" class="w-full"></btn-loading>

            <br>
            @if (errorMessage) {
            <div class="error-message">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="8" x2="12" y2="12"></line>
                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
                {{ errorMessage }}
            </div>
            }
        </form>
    </div>
</div>