.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;

    .modal-content {
        background: #111111;
        color: #e5e7eb;
        // border-radius: 12px;
        border: 1px solid #262626;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        padding: 16px;
        min-width: 350px;
        max-width: 90vw;
        max-height: 80vh;
        overflow-y: auto;

        .modal-body {
            max-height: 50vh;
            overflow-y: auto;
            // margin-right: -16px;
            // padding-right: 16px;
        }

        .modal-footer {
            position: sticky;
            bottom: 0;
            background: inherit;
            z-index: 1;
        }
    }
}



@keyframes wow-bounce-sutil {
    0% {
        transform: scale(0.98);
        box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.18);
    }

    60% {
        transform: scale(1.03);
        box-shadow: 0 4px 18px 0 rgba(255, 255, 255, 0.22);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.18);
    }
}

/* WOW Animaciones variadas */

@import "tailwindcss";
@import 'ngx-toastr/toastr';

/* Custom dark scrollbar for the whole app */
::-webkit-scrollbar {
    width: 6px;
    cursor: grab;
}

::-webkit-scrollbar-thumb {
    border-left: 2px solid #fafafa;
    transition: background 0.2s;
    // background: #444;
    cursor: grab;
    outline: none;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:focus {
    background: #444;
    outline: none;
}

::-webkit-scrollbar-corner {
    background: #18181b;
}


body {
    background-color: #0a0a0a;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: cursive;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 16px;
    height: 36px;
    border: none;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, border 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    max-width: 200px;

    &:disabled {
        background: #555;
        color: #ccc;
        cursor: not-allowed;
        border: none;

        &:hover {
            background: #555;
        }
    }
}

.btn-sm {
    height: 32px;
}

.btn-xs {
    height: 22px;
    font-size: 12px;
}

.btn-primary {
    background: #fff;
    color: #181818;
    border: 1px solid #fff;

    &:hover {
        background: #e6e6e6;
    }

}

.btn-secondary {
    background: #262626;
    color: #fafafa;
    border: 1px solid #262626;

    &:hover {
        background: #333;
    }
}

.btn-outline {
    background: #121212;
    color: #fff;
    border: 1px solid #262626;

    &:hover {
        background: #222;
    }
}

.btn-ghost {
    background: transparent;
    color: #fff;
    border: none;
}

.btn-ghost:hover {
    text-decoration: underline;
}

.btn-destructive {
    background: #6a1a1a;
    color: #fff;
    border: 1px solid #6a1a1a;

    &:hover {
        background: #a32a2a;
    }
}

.btn-back {
    background-color: #95a5a6;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: #7f8c8d;
    }
}

.form-label {
    color: oklch(0.985 0 0);
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

.form-control {
    width: 100%;
    height: 36px;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid oklch(0.269 0 0);
    background-color: #18181b;
    color: #fafafa;

    &[disabled] {
        background: #121212;
        color: #555;
        cursor: not-allowed;
    }



    &[type="checkbox"] {
        &+label {
            cursor: pointer;
        }

        appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #444;
        background: #18181b;
        border-radius: 4px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        transition: background 0.2s,
        border 0.2s;
        vertical-align: middle;
        margin: 0 4px 0 0;
        padding: 9px;
    }

    &[type="checkbox"]:checked {
        background: #fff;
        border-color: #444;
    }

    &[type="checkbox"]:checked::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 2px;
        width: 7px;
        height: 12px;
        border: solid #18181b;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        display: block;
    }
}

textarea.form-control {
    height: unset;
}

select.form-control {
    padding: 0.4rem 12px;
    background-color: #18181b;
    color: #fafafa;
    border: 1px solid oklch(0.269 0 0);

    &:focus {
        // outline: none;
        // border-color: oklch(62.341% 0.00007 271.152);
        // background-color: #222;
    }
}



.student-photo-sm {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.photo-label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.student-photo,
.photo-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #bbb;
    // border: 2px dashed #e0e0e0;
}

.student-photo,
.photo-placeholder {
    width: 56px;
    height: 56px;
    min-width: 56px;
    font-size: 1.5rem;
}


.high-debt {
    color: #e74c3c;
    color: oklch(.704 .191 22.216);
    font-weight: bold;
}

.high-paid {
    color: #05df72;
    font-weight: bold;
}



.toast-container {
    font-size: 12px;

    .ngx-toastr {
        padding: 10px 10px 10px 50px;
        box-shadow: 0 0 12px #000000;
        border-radius: 0;

    }

    .toast-success {
        background-color: #149714;
    }

    .toast-error {
        background-color: #861b0f;
    }
}


// .mavi-section {
//     border: 1px solid #262626;
//     padding: 24px;
// }


.mavi-tabs {
    background-color: #101010;
    padding: 6px;
    display: flex;
    overflow-x: auto;
    font-size: 14px;
    gap: 4px;
    font-weight: 500;
    // height: 43px;

    /* Oculta el scroll visual pero mantiene la funcionalidad */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    /* IE 10+ */
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    .mavi-tab {
        white-space: nowrap;
        padding: 4px 15px;
        cursor: pointer;
        border: 1px solid transparent;
        color: #a1a1a1;

        &.selected {
            background-color: #161616;
            border: 1px solid #262626;
            color: oklch(0.985 0 0);
        }

    }
}

.mavi-tag {
    height: 22px;
    color: #fafafa;
    font-size: 11px;
    padding: 2px 8px;
    font-weight: 500;
    border: 1px solid oklch(0.269 0 0);
}


/* Variante: Activo (verde) */
.mavi-tag--primary {
    background-color: oklch(.627 .194 149.214);
    border-color: oklch(.627 .194 149.214);
}

/* Variante: Pendiente (gris) */
.mavi-tag--secondary {
    background-color: #444;
    border-color: #444;
}

/* Variante: Vencido (rojo oscuro) */
.mavi-tag--danger {
    background-color: #651f1f;
    border-color: #651f1f;
}

/* Variante: Inactivo (gris oscuro/negro) */
.mavi-tag--muted {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

.mavi-bottom-actions {
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 2;

    .mavi-bottom-actions-inner {
        background: #151515;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18), 0 1.5px 8px rgba(52, 152, 219, 0.08);
        padding: 8px;
        display: flex;
        justify-content: center;
        gap: 12px;
        pointer-events: auto;
        opacity: 0.7;
        transition: box-shadow 0.3s, opacity 0.3s, background 0.3s;

        &:hover {
            // box-shadow: 0 8px 32px rgba(52, 152, 219, 0.18), 0 2px 12px rgba(52, 152, 219, 0.18);
            opacity: 1;
            // background: linear-gradient(90deg, #217dbb 0%, #3498db 100%);
        }
    }
}


.mavi-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    color: oklch(0.985 0 0);

    .mavi-card {
        border: 1px solid #262626;
        padding: 24px;
        background-color: transparent;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s, box-shadow 0.2s;


    }

    .mavi-card-actions {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }
}

.hover-link {
    color: oklch(0.985 0 0);
    text-decoration: none;
    transition: color 0.2s, text-decoration 0.2s;
    cursor: pointer;

    &:hover {
        color: oklch(0.8 0 0);
        text-decoration: underline;
    }
}


.detail-row {
    display: flex;
    flex-direction: column;

    .detail-label {
        font-size: 14px;
        color: #a1a1a1;
    }
}

.mavi-border {
    border: 1px solid #262626;
    padding: 16px;
}


.wow-hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s cubic-bezier(.77, 0, .18, 1), transform 0.7s cubic-bezier(.77, 0, .18, 1);
}

.wow-active {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.7s cubic-bezier(.77, 0, .18, 1), transform 0.7s cubic-bezier(.77, 0, .18, 1);
}

.wow-left {
    transform: translateX(-120px) scale(0.95);
}

.wow-right {
    transform: translateX(120px) scale(0.95);
}

.wow-top {
    transform: translateY(-120px) scale(0.95);
}

.wow-bottom {
    transform: translateY(120px) scale(0.95);
}

.wow-zoom {
    transform: scale(0.7);
}

.wow-rotate {
    transform: rotate(-20deg) scale(0.95);
}

.wow-flip {
    transform: rotateY(90deg) scale(0.95);
}

.text-danger {
    color: #e74c3c;
}

.form-control-error {
    color: #ff1f23;
    font-size: 11px;
    height: 16.5px;
}