<div class="mavi-tabs">
    <a routerLink="escuela" routerLinkActive="selected" class="mavi-tab">
        Escuela
    </a>
    @if (authService.user?.developer) {
    <a routerLink="desarrollo" routerLinkActive="selected" class="mavi-tab">
        Desarrollo
    </a>
    }
    <a routerLink="categorias" routerLinkActive="selected" class="mavi-tab">
        Categorías
    </a>
    <a routerLink="tipos-de-actividad" routerLinkActive="selected" class="mavi-tab">
        Tipos de actividad
    </a>
    <a routerLink="usuarios" routerLinkActive="selected" class="mavi-tab">
        Usuarios
    </a>
</div>
<br>
<router-outlet></router-outlet>