<div class="mavi-tabs">
    <a routerLink="notificaciones" routerLinkActive="selected" class="mavi-tab" (click)="onTabClick('notificaciones')">
        Notificaciones
    </a>
    <a routerLink="indicadores" routerLinkActive="selected" class="mavi-tab" (click)="onTabClick('indicadores')">
        Indicadores
    </a>
    <a routerLink="escuela" routerLinkActive="selected" class="mavi-tab" (click)="onTabClick('escuela')">
        Escuela
    </a>
    <a routerLink="catalogos" routerLinkActive="selected" class="mavi-tab" (click)="onTabClick('catalogos')">
        Catálogos
    </a>
    <a routerLink="usuarios" routerLinkActive="selected" class="mavi-tab" (click)="onTabClick('usuarios')">
        Usuarios
    </a>
    @if (authService.user?.developer) {
    <a routerLink="desarrollo" routerLinkActive="selected" class="mavi-tab" (click)="onTabClick('desarrollo')">
        Desarrollo
    </a>
    }

</div>
<br>
<router-outlet></router-outlet>